COMPOSE_PROJECT_NAME=pagopa-functions-checkout

API_GATEWAY_PORT=80

FUNCTIONS_V2_COMPATIBILITY_MODE=true

REQ_USER_GROUPS=ApiProfileWrite
REQ_SERVICE_ID=MyServiceId
SERVICE_EMAIL=example@email.com

NODE_ENV=develop

IO_PAGOPA_PROXY=http://pagopa-proxy:3001
 
PAY_PORTAL_RECAPTCHA_SECRET=sLeMssssssssssssuu4

IO_PAY_CHALLENGE_RESUME_URL=http://localhost:1234/response.html?id=idTransaction
IO_PAY_ORIGIN=http://localhost:1234/response.html?id=idTransaction
IO_PAY_XPAY_REDIRECT=http://localhost:1234/response.html?id=_id_&resumeType=_resumeType_&_queryParams_

PAGOPA_BASE_PATH=/

TEST_ORGANIZATION_FISCAL_CODE=
TEST_APPLICATION_CODE=
TEST_AUX_DIGIT=
TEST_CHECK_DIGIT=
TEST_IUV13=